<h1>All Authors</h1>
<table>
  <tr>
    <th>Name:</th>
    <td><%= @authors.name() %></td>
  </tr>

  <tr>
    <th>Books:</th>
    <td><% @authors.find_books.each do |book| %></p>
    <p> <a href="/books/<%=book.id %>"><%= book.title %>   </p>
    <% end %></td>
  </tr>

<form action="/authors/<%= @authors.id %>/edit" method="get">
<input type="submit" value="Edit">
</form>

<form onsubmit="return confirm('Are you sure you want to delete this author?')" action="/authors/<%= @authors.id %>/delete" method="post">
<input type="submit" value="Delete">
</form>
</table>
