<p>First Name: <%= @authors.first_name() %></p>
<p>Last Name: <%= @authors.last_name %></p>
<p>Books: <% @authors.find_books.each do |book| %></p>
<p> <a href="/books/<%=book.id %>"><%= book.title %>   </p>
<% end %>

<form action="/authors/<%= @authors.id %>/edit" method="get">
<input type="submit" value="Edit">
</form>

<form action="/authors/<%= @authors.id %>/delete" method="post">
<input type="submit" value="Delete">
</form>
