<p>Title: <%= @books.title() %></p>
<p>Genre: <%= @books.genre %></p>
<p>Author(id): <%= @books.author_id %></p>
<p>Description: <%= @books.description %></p>
<p>Quantity: <%= @books.quantity %></p>
<p>Cost Price: <%= @books.cost_price %></p>
<p>Selling Price: <%= @books.selling_price %></p>
<p>Markup: <%= @books.calculate_markup %></p>


<form action="/books/<%= @books.id %>/edit" method="get">
<input type="submit" value="Edit">
</form>

<form action="/books/<%= @books.id %>/delete" method="post">
<input type="submit" value="Delete">
</form>
