
<table>
  <tr>
    <th>Title</th>
    <th></th>
    <th>Genre</th>
    <th></th>
    <th>Author</th>
    <th></th>
    <th>Quantity</th>
    <th></th>
    <th>Stock Level</th>
    <th></th>
    <th>Selling Price</th>
  </tr>
  <% @books.each do |book| %>
<tr>

<td><%= book.title %></td>
<td></td>
<td><%= book.genre %></td>
<td></td>
<!-- <p>Author(id): <%= book.author_id %></p> -->
<td><%= book.find_author.name %></td>
<td></td>
<!-- <p>Description: <%= book.description %></p> -->
<td><%= book.quantity %></td>
<td></td>
<td><%= book.stock_level_counter %></td>
<td></td>
<!-- <p>Cost Price: <%= book.cost_price %></p> -->
<td><%= book.selling_price %></td>
<td></td>
<td> <a href="/books/<%= book.id %>"> Show Full Book Details </a> </td>
<!-- <p>Markup: <%= book.calculate_markup %></p> -->
</tr>

<% end %>
</table>
