<h1>All Books</h1>
<table>
  <tr>
    <th>Title</th>
    <th></th>
    <th>Genre</th>
    <th></th>
    <th>Author</th>
    <th></th>
    <th>Quantity</th>
    <th></th>
    <th>Stock Level</th>
    <th></th>
    <th>Selling Price</th>
  </tr>
  <% @books.each do |book| %>
<tr>

<td><%= book.title %></td>
<td></td>
<td><%= book.genre %></td>
<td></td>
<td><a href="/authors/<%= book.author_id %>"><%= book.find_author.name %></a></td>
<td></td>
<td><%= book.quantity %></td>
<td></td>
<td class="<%= book.stock_level_counter_colour %>"><%= book.stock_level_counter %></td>
<td></td>
<td><%= book.selling_price %></td>
<td></td>
<td> <a href="/books/<%= book.id %>"> Show Full Book Details </a> </td>

</tr>

<% end %>
</table>
