<form action="/books/<%= @books.id %>/update" method="post">

  <label for="title"> Title: </label>
  <input id="title" type="text" name="title" value="<%= @books.title  %>"required>

  <label for="genre"> Genre: </label>
  <input id="genre" type="text" name="genre" value="<%= @books.genre  %>" required>

  <!-- <label for="author"> Author(id): </label>
  <input id="author" type="text" name="author_id" value="<%= @books.author_id  %>" required>

  <label for="author"> Author Name: </label>
  <input id="author" type="text" value="<%= @books.find_author.name  %>"> -->

  <label for="author"> Author: </label>
    <select id="author" name="author_id">
      <% @authors.each do |author|%>
      <option value="<%= author.id.to_i %>"><%= author.name %></option>
      <% end %>
    </select>

  <label for="description"> Blurb: </label>
  <input id="description" type="text" name="description" value="<%= @books.description  %>" required>

  <label for="quantity"> Quantity: </label>
  <input id="quantity" type="text" name="quantity" value="<%= @books.quantity  %>" required>

  <label for="cost_price"> Cost Price: </label>
  <input id="cost_price" type="text" name="cost_price" value="<%= @books.cost_price  %>" required>

  <label for="selling_price"> Selling Price: </label>
  <input id="selling_price" type="text" name="selling_price" value="<%= @books.selling_price  %>" required>

  <input type="submit" value="Save Changes">

</form>
