<h1>Book Information</h1>

<!-- <p>Title: <%= @books.title() %></p>
<p>Genre: <%= @books.genre %></p>
<p>Author(id): <%= @books.author_id %></p>
<p>Author Name: <a href="/authors/<%=@books.author_id %>"><%= @books.find_author.name %></a> </p>
<p>Description: <%= @books.description %></p>
<p>Quantity: <%= @books.quantity %></p>
<p>Cost Price: <%= @books.cost_price %></p>
<p>Stock Level: <%= @books.stock_level_counter %></p>
<p>Selling Price: <%= @books.selling_price %></p>
<p>Markup: <%= @books.calculate_markup %></p>
-->

<table>
  <tr>
    <th>Title</th>
    <td><%= @books.title() %></td>
  </tr>
  <tr>
    <th>Genre</th>
    <td><%= @books.genre %></td>
  </tr>

  <tr>
    <th>Author</th>
    <td><a href="/authors/<%=@books.author_id %>"><%= @books.find_author.name %></a></td>
  </tr>

  <tr>
    <th>Description</th>
    <td><%= @books.description %></td>
  </tr>

  <tr>
    <th>Quantity</th>
    <td><%= @books.quantity %></td>
  </tr>

  <tr>
    <th>Stock Level</th>
    <td class="<%= @books.stock_level_counter_colour %>"><%= @books.stock_level_counter %></td>
  </tr>

  <tr>
    <th>Cost Price</th>
    <td><%= @books.cost_price %></td>
  </tr>
  <tr>
    <th>Selling Price</th>
    <td><%= @books.selling_price %></td>
  </tr>

  <tr>
    <th>Markup</th>
    <td><%= @books.calculate_markup %></td>
  </tr>

<form action="/books/<%= @books.id %>/edit" method="get">
  <button class="myButton_edit" type="submit" value="Edit">Edit</button>
</form><form onsubmit="return confirm('Are you sure you want to delete this book?')" action="/books/<%= @books.id %>/delete" method="post">
  <button class="myButton_delete" type="submit" value="Delete">Delete</button>
</form>

</table>
