<!-- <p>Title: <%= @books.title() %></p>
<p>Genre: <%= @books.genre %></p>
<p>Author(id): <%= @books.author_id %></p>
<p>Author Name: <a href="/authors/<%=@books.author_id %>"><%= @books.find_author.name %></a> </p>
<p>Description: <%= @books.description %></p>
<p>Quantity: <%= @books.quantity %></p>
<p>Cost Price: <%= @books.cost_price %></p>
<p>Stock Level: <%= @books.stock_level_counter %></p>
<p>Selling Price: <%= @books.selling_price %></p>
<p>Markup: <%= @books.calculate_markup %></p>
-->

<form action="/books/<%= @books.id %>/edit" method="get">
  <input type="submit" value="Edit">
</form>

<form onsubmit="return confirm('Are you sure you want to delete this book?')" action="/books/<%= @books.id %>/delete" method="post">
  <input type="submit" value="Delete">
</form>

<h1>flexbox example </h1>
<div class="grid">
  <div class="grid-row">
    <div class="cell">Title</div>
    <div class="cell"><%= @books.title() %></div>
  </div>

  <div class="grid-row">
    <div class="cell">Genre</div>
    <div class="cell"><%= @books.genre %></div>
  </div>

  <div class="grid-row">
    <div class="cell">Author_id</div>
    <div class="cell"><%= @books.author_id %></div>
  </div>

  <div class="grid-row">
    <div class="cell">Author_name</div>
    <div class="cell"><a href="/authors/<%=@books.author_id %>"><%= @books.find_author.name %></a></div>
  </div>

  <div class="grid-row">
    <div class="cell">Description</div>
    <div class="cell"><%= @books.description %></div>
  </div>

  <div class="grid-row">
    <div class="cell">Quantity</div>
    <div class="cell"><%= @books.quantity %></div>
  </div>

  <div class="grid-row">
    <div class="cell">Cost Price</div>
    <div class="cell"><%= @books.cost_price %></div>
  </div>

  <div class="grid-row">
    <div class="cell">Stock Level</div>
    <div class="cell"><%= @books.stock_level_counter %></div>
  </div>

  <div class="grid-row">
    <div class="cell">Selling Price</div>
    <div class="cell"><%= @books.selling_price %></div>
  </div>

  <div class="grid-row">
    <div class="cell">Markup</div>
    <div class="cell"><%= @books.calculate_markup %></div>
  </div>

</div>
